<li class="blog__list-item">
    <div class="blog__wrapper">
        <div class="blog__img-wrapper">
            <img class="blog__img" src="../../static/images/blog-@@img" alt="">
        </div>
        <div class="blog__content">
            <ul class="blog__color-list">
                <li class="blog__color-item"></li>
                <li class="blog__color-item"></li>
            </ul>
            <div class="blog__info">
                <div class="blog__date">@@date</div>
                <div class="blog__views">@@views</div>
                <div class="blog__comments">@@comments</div>
            </div>
            <h3 class="blog__title">@@title</h3>
            <p class="blog__text">@@text</p>
            <a class="blog__link" href="/">Go to this post</a>
        </div>
    </div>
</li>