.subheader {
    margin-top: 40px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 47px;
    color: #070707;
}
.filter {
    margin-top: 40px;
    width: 100%;
    &__inputs{
        display: flex;
        align-items: top; 
        justify-content: space-between;
    }
    &__field {
        border: none;
    }
    &__title {
        margin-bottom: 10px;
        font-family: 'Gilroy','Arial', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #070707; 
    }
    &__tags {
        width: 116px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -2px -4px -2px;
        .tags__item {
            position: relative;
            margin: 0 2px 4px 2px;
            width: 25px;
            height: 25px;
            border: 2.5px solid #2176FF;
            border-radius: 5px;
            box-sizing: border-box;
            &:nth-child(2) {
                border: 2.5px solid #33A1FD;
            }
            &:nth-child(3) {
                border: 2.5px solid #FDCA40;
            }
            &:nth-child(4) {
                border: 2.5px solid #57E2E5;
            }
            &:nth-child(5) {
                border: 2.5px solid #F79824;
            }
            &:nth-child(6) {
                border: 2.5px solid #E08DAC;
            }
            &:nth-child(7) {
                border: 2.5px solid #6A7FDB;
            }
            &:nth-child(8) {
                border: 2.5px solid #45CB85;
            }
            .filter__tag-label {
                width: 12px;
                height: 12px;
                display: block;
                position: absolute;
                background-image: url(../../static/images/V.svg);
                left: 0;
                top: 0;
                opacity: 0;
            }
            .filter__tag-input {
                &:checked + .filter__tag-label {
                    opacity: 1;
                }
            }
        }
    }
    &__views {
        &-item {
            margin-bottom: 7px;
        }
        .views__label {
            position: relative;
            font-family: 'Gilroy','Arial', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #070707;
            cursor: pointer;
            margin-left: 30px;
            &:hover{
                text-decoration: underline;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                height: 20px;
                width: 20px;
                border: 2px solid #000;
                box-sizing: border-box;
                opacity: .3;
                border-radius: 50%;
                cursor: pointer;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 4px;
                left: -26px;
                height: 12px;
                width: 12px;
                background-color:#000;
                opacity: .3;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        .views__input:checked + .views__label::before,
        .views__input:checked + .views__label::after {
            opacity: 1;
        }
    }
    &__comments {
        &-item {
            margin-bottom: 7px;
        }
        .views__label {
            position: relative;
            margin-left: 30px;
            font-family: 'Open Sans', 'Arial', sans-serif;
            font-size: 16px;
            line-height: 22px;
            color: #1E0606;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                height: 19px;
                width: 19px;
                border: 2px solid #000;
                box-sizing: border-box;
                opacity: .3;
                border-radius: 3px;
                cursor: pointer;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 1px;
                left: -28px;
                height: 15px;
                width: 15px;
                background-image: url(../../static/images/V.svg);
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                opacity: 0;
                cursor: pointer;
            }
        }
        .views__input {
            &:checked + .views__label::after,
            &:checked + .views__label::before {
                opacity: 1;
            }
        }
    }
    &__show { 
        &-item{
            margin-bottom: 7px;
        } 
        .show__label {
            position: relative;
            font-family: 'Gilroy','Arial', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #070707;
            cursor: pointer;
            margin-left: 30px;
            &:hover {
                text-decoration: underline;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                height: 20px;
                width: 20px;
                border: 2px solid #000;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                border-radius: 50%;
                cursor: pointer;
                opacity: .3;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 4px;
                left: -26px;
                height: 12px;
                width: 12px;
                background-color:#000;
                box-sizing: border-box;
                opacity: .3;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        .show__input:checked + .show__label::before,
        .show__input:checked + .show__label::after {
            opacity: 1;
        }
    }
    &__sort { 
        &-item {
            margin-bottom: 7px;
        }
        .sort__label {
            position: relative;
            font-family: 'Gilroy','Arial', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #070707;
            cursor: pointer;
            margin-left: 30px;
            &:hover {
                text-decoration: underline;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                height: 20px;
                width: 20px;
                border: 2px solid #000;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        opacity: .3;
                border-radius: 50%;
                cursor: pointer;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 4px;
                left: -26px;
                height: 12px;
                width: 12px;
                background-color:#000;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                opacity: .3;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        .sort__input:checked + .sort__label::before,
        .sort__input:checked + .sort__label::after {
            opacity: 1;
        }

    }
    &__reset-btn {
        margin-top: 33px;
        position: relative;
        &::before {
            width: 65px;
            content: "reset form";
            position: absolute;
            top: -22px;
            left: 4px;

            font-family: 'Gilroy', 'Arial', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #E5E5E5;
        } 
    }
    &__search {
        display: flex;
        align-items: center;
        &-input-wrapper {
            max-width: 873px;
            width: 100%;
        }
        &__search-input {
            width: 100%;
            max-width: 873px;
        }
    }  
}
.blog {
    margin-bottom: 60px;
    &__pagination {
        display: flex;
        justify-content: space-between;
        &-list {
            display: flex;
            align-items: center;
        }
        &-item {
            font-family: 'Gilroy','Arial', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #E5E5E5;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                color: #000;
            }
        }
    }
    &-contol-left {
        height: 42px;
        width: 42px;
        background-color: transparent;
        background: url(../../static/images/leftControl.svg);
        border: none;
        cursor: pointer;
    }
    &-contol-right {
        height: 42px;
        width: 42px;
        background-color: transparent;
        background: url(../../static/images/rightControl.svg);
        border: none;
        cursor: pointer;
    }
    .blog-contol-right:disabled,
    .blog-contol-left:disabled {
        opacity: .4;
        pointer-events: none;
        user-select: none;
    }

    
}