<header class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item">
          <a class="header__link active" href="/">Home</a>
        </li>
        <li class="header__list-item">
          <a class="header__link myblog_js" href="../../pages/blog/index.html">My blog</a>
        </li>
        <li class="header__list-item">
          <a class="header__link signin_js" href="">Sign in</a>
        </li>
        <li class="header__list-item">
          <a class="header__link register_js" href="/">Register</a>
        </li>
        <li class="header__list-item">
          <a class="header__link profile_js" href="/">My profile</a>
        </li>

      </ul>
    </nav>
  </div>
</header>
