// Подключение компонентов
body {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul, li { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 220px;
}
.title {
  text-align: center;
  font-family: 'Gilroy','Arial', sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
}
.btn{
  padding: 5px 13px;
  border: 2.5px solid;
  border-radius: 20px;
  background: transparent;
  font-family: 'Gilroy','Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.disabled__btn {
  opacity: .3;
  pointer-events: none;
}

.disabled__input {
  opacity: .3;
  pointer-events: none;
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/Gilroy-Regular.woff'),
       url('../static/fonts/Gilroy-Regular.woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('../static/fonts/Gilroy-Medium.woff'),
       url('../static/fonts/Gilroy-Medium.woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('../static/fonts/Gilroy-Bold.woff'),
       url('../static/fonts/Gilroy-Bold.woff2');
}
@import "./header/header";
@import "./footer/footer";
@import "./skills-item/skills-item";
@import "./blogItem/blogItem";
