<footer class="footer @@bgrcolor">
  <div class="container">
    <div class="footer__inner">
      <h2 class="footer__title title">Contacts</h2>
      <div class="footer__text">Want to know more or just chat? 
        You are welcome!</div>
      <button type="button" class="btn message__btn message_js">Send massege</button>
      <div class="footer__social">
        <button type="button" class="btn inst__btn">Instagram</button>
        <button type="button" class="btn vk__btn">Vk</button>
        <button type="button" class="btn tg__btn">Telegram</button>
        <button type="button" class="btn mail__btn">Mail</button>
        <button type="button" class="btn git__btn">Github</button>
        <button type="button"class="btn phone__btn">Phone</button>
      </div>
      <p class="footer__design" href="http://dlacademy.com">Design by <a href="">DL Academy</a></p>
      <p class="footer__author">Program code from Antonina</p>
    </div>
  </div>
</footer>
